@media (min-width: 768px) {
  .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);

    column-gap: 3.2rem;
  }
  .testimonial--daniel {
    grid-column: 1/3;
  }
  /* .testimonial--jonathan{
    grid-column: 1fr;
  } */
  .testimonial--patrick {
    grid-column: 1/3;
  }
  .testimonial--kira {
    grid-column: 1/3;
  }
}
@media (min-width: 1024px) {
  /* .testimonials {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .testimonials .container {
    width: 100%;
    height: 100%;
  } */
  .testimonials-grid {
    /* margin: auto 0; */
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);

    column-gap: 3.2rem;
  }
  .testimonial--daniel {
    grid-area: 1/1/2/3;
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 8rem;
  }
  .testimonial--jeanette {
    grid-area: 2/1/3/2;
  }
  .testimonial--kira {
    grid-area: 1/4/3/5;
  }
  .testimonial--patrick {
    grid-area: 2/2/3/4;
  }
}
